/ConsumerConsoleApp/bin
/ConsumerConsoleApp/obj
/ProducerAPI/bin
/ProducerAPI/obj
/ProducerAPI/ProducerAPI
/ProducerAPI/appsettings.Development.json
/ProducerAPI/ProducerAPI.csproj.user
/ProducerAPI/.vs/ProducerAPI/config/applicationhost.config
/ProducerAPI/.vs/ProducerAPI/v16